<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Buono Buono</title>

    <link rel="icon" type="image/png" href="/Site/images/favicon-16x16.jpg" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/Site/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Site/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Site/fonts/themify/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/animate/animate.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/select2/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Site/vendor/lightbox2/css/lightwrap-label-gallery" />
    <link rel="stylesheet" type="text/css" href="/Site/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/Site/css/main.css" />

    <!-- Bootstrap Icons CDN (müzik ikonları için) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">

                    <!-- Logo -->
                    <div class="logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="/Site/images/logo3.png" alt="Buono Buono Logo" style="width: 110px; height: auto;" />
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">HOME</a></li>
                                    <li>
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Menu">MENU</a>
                                    </li>


                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Reservation">RESERVATION</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Gallery">GALLERY</a></li>
                                    <li><a asp-area="Admin" asp-controller="Menu" asp-action="Index" target="_blank">ADMIN PANEL</a></li>
                                    <li>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-white">LOG OUT</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">HOME</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Menu">MENU</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Reservation">RESERVATION</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Gallery">GALLERY</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="About">ABOUT</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Blog">BLOG</a></li>
                                    <li><a asp-area="Customer" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">
                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13"><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="txt19">HOME</a></li>
            <li class="t-center m-b-13"><a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="txt19">MENU</a></li>
            <li class="t-center m-b-13"><a asp-area="Customer" asp-controller="Home" asp-action="Gallery" class="txt19">GALLERY</a></li>
            <li class="t-center m-b-13"><a asp-area="Customer" asp-controller="Home" asp-action="About" class="txt19">ABOUT</a></li>
            <li class="t-center m-b-13"><a asp-area="Customer" asp-controller="Home" asp-action="Blog" class="txt19">BLOG</a></li>
            <li class="t-center m-b-33"><a asp-area="Customer" asp-controller="Home" asp-action="Contact" class="txt19">CONTACT</a></li>
            <li class="t-center">
                <a asp-area="Customer" asp-controller="Home" asp-action="Reservation" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
                    Reservation
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="t-center m-b-33"><a asp-area="Admin" asp-controller="Menu" asp-action="Index" target="_blank" class="txt19">ADMIN PANEL</a></li>
                <li class="t-center">
                    <form class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white">LOG OUT</button>
                    </form>
                </li>
            }
        </ul>
    </aside>

    <!-- Audio Player with Toggle Button -->
    <audio id="backgroundMusic" loop preload="auto">
        <source src="/Site/media/muzik.mp3" type="audio/mpeg" />
        Tarayıcınız bu ses öğesini desteklemiyor.
    </audio>
    <div style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
        <button onclick="toggleMusic()" id="musicButton" style="font-size: 30px; background: transparent; border: none; cursor: pointer;">
            <i id="musicIcon" class="bi bi-volume-mute-fill text-white"></i>
        </button>

    </div>

    @RenderBody()

    <!-- Footer -->
    <footer class="bg1">
        <div class="container p-t-40 p-b-70">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-33">Contact Us</h4>
                    @await Component.InvokeAsync("Contact2")
                </div>
                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">Opening Times</h4>
                    <ul>
                        <li class="txt14">Every Day</li>
                        <li class="txt14">09.00 AM - 11.00 PM</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">Social Media</h4>
                    <div class="p-t-5 p-b-5">
                        <a href="https://www.instagram.com/buonobuonopizza/" target="_blank" class="fs-15 c-white"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/BuonoBuonoUAE/?locale=tr_TR" target="_blank" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                        <a href="https://x.com/BuonoBuonoo" target="_blank" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">
                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        <a asp-area="Identity" asp-page="/Account/Login" target="_blank">BUONO BUONO</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="/Site/images/video-16-9.jpg" alt="IMG" /></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/VIDEO_ID?autoplay=1&rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/Site/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/Site/vendor/animsition/js/animsition.min.js"></script>
    <script src="/Site/vendor/bootstrap/js/popper.js"></script>
    <script src="/Site/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Site/vendor/select2/select2.min.js"></script>
    <script src="/Site/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Site/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/Site/vendor/slick/slick.min.js"></script>
    <script src="/Site/vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="/Site/js/main.js"></script>

    <script>
        function toggleMusic() {
            var music = document.getElementById("backgroundMusic");
            var icon = document.getElementById("musicIcon");
            if (music.paused) {
                music.play();
                icon.classList.remove("bi-volume-mute-fill");
                icon.classList.add("bi-volume-up-fill");
            } else {
                music.pause();
                icon.classList.remove("bi-volume-up-fill");
                icon.classList.add("bi-volume-mute-fill");
            }
        }
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
