@model IEnumerable<CafeRestaurant_.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>
               Image
            </th>
            <th>
                Email
            </th>
            <th>
                Confirm
            </th>
            <th>
               Message
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (item.Image == null)
                    {
                        <img src="~/Site/images/no image.jpeg" width="100" height="80" />
                    }
                    else
                    {
                        <img src="@item.Image" width="100" height="80" />
                    }
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                    @if (item.Confirm)
                    {
                        <button class="btn btn-success btn-sm"><i class="bi bi-check-circle"></i> Yes</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i> No</button>

                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil"></i> Confirm</a> |
                
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
